@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
  padding: 5px;
  box-shadow: 2px 1px 5px rgb(3, 24, 21);
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;
  transition: transform 450ms;
  p {
    font-size: 90%;
    line-height: 1.4;
  }
  &:hover {
    transform: scale(1.01);
  }
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0px 10px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.thumbnail.visible {
  opacity: 1;
}
